/* Empty. Add your own CSS if you like */
.img-auto
{
    width: 60%;
	height: auto;
}
a
{
	text-decoration: none;
}
.donate-pic{
	padding-top: 50px;
	width: 50%;
	height: auto;
}
.img-type{
	width: 40%;
	height: auto;
	padding-top: 20px;
}
.sas{
	background: #b3ffff;
  }
.displayed {
    margin-left: auto;
    margin-right: auto;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.mySlides {display:none;}
