<ion-view>
  <ion-nav-bar class="bar-stable">		
		<ion-nav-buttons side="left">
			<a class="button button-icon ion-arrow-left-c" href="#/app/menu"></a>
		</ion-nav-buttons>
		
		<ion-nav-title>ลงประกาศ</ion-nav-title>
	</ion-nav-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">ชื่อสัตว์</span>
        <input type="text" placeholder="โกโก้">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          เพศ
        </div>
        <select>
          <option>เพศผู้</option>
          <option>เพศเมีย</option>

        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          อายุ
        </div>
        <select>
          <option>น้อยกว่า 1 ปี</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>มากกว่า 20 ปี</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          ประเภทของสัตว์
        </div>
        <select>
          <option>หมา</option>
          <option>แมว</option>
          <option>กระต่าย</option>
          <option>นก</option>
          <option>หนู</option>
          <option>หมู</option>
          <option>งู</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">รายละเอียดเพิ่มเติม</span>
        <input type="text" placeholder="สี รูปร่าง นิสัย ความชอบ">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">สายพันธุ์</span>
        <input type="text" placeholder="บางแก้ว,ขาวมณี">
      </label>
    </div>
	<div class="row row-center">
		<div class="col col-center" id="showpic">	
			<img class="mySlides full-image" src="img/Pixiebob-cat.jpg">
			<img class="mySlides full-image" src="img/puppy-090517-dog-featured-355w-200h-d.jpg">
		</div>
	</div>
	<div class="row hide" id="ctrlbutton">
		<div class="col text-center">
			<button class="button ion-icon ion-chevron-left" ng-click="plusDivs(-1)"></button>
			<button class="button ion-icon ion-chevron-right" ng-click="plusDivs(1)"></button>
		</div>
	</div>
	<button class="button button-royal button-block button-positive" ng-click="show()">เพิ่มรูป</button>
    <button class="button button-royal button-block button-positive">ประกาศหาบ้าน</button>
  </ion-content>
</ion-view>
