<ion-view>
	<ion-nav-bar class="bar-stable">		
		<ion-nav-buttons side="right">
			<a class="button button-icon ion-person" ng-click="go()"></a>
		</ion-nav-buttons>		
		<ion-nav-title>หน้าหลัก</ion-nav-title>
	</ion-nav-bar>
	<ion-content class="sas">
		<div class="row">			
			<a class="col col-50 text-center" href="#/app/findform">
				<img class="img-auto" src="img/wanted.svg">
				<h3>ลงประกาศ</h3>
			</a>
			<a class="col col-50 text-center" href="#/app/selecttype">
				<img class="img-auto" src="img/home.svg">
				<h3>หาสัตว์</h3>
			</a>
		</div>
		<div class="row">
			<a class="col col-50 text-center" href="#/app/donate">
				<img class="img-auto" src="img/donate.svg">
				<h3>บริจาค</h3>
			</a>
			<a class="col col-50 text-center" href="#/app/knowledge">
				<img class="img-auto" src="img/data.svg">
				<h3>แหล่งการเรียนรู้</h3>
			</a>
		</div>
		<div class="row">
			<div class="col text-center">
				<br>
				<h4>Tip</h4>
				<h4>{{tipOf}}</h4>
			</div>
		</div>
	</ion-content>
</ion-view>