<ion-view>
	<ion-nav-bar class="bar-stable">
		<ion-nav-buttons side="left">
			<a class="button button-icon ion-arrow-left-c" href="#/app/menu"></a>
		</ion-nav-buttons>
		
		<ion-nav-title>Login</ion-nav-title>
	</ion-nav-bar>
	<ion-content>		
			<div class="row">
					<a class="col col-100 text-center" href="#/app/selecttype">
						<img class="donate-pic" src="img/food.png">
		
					</a>
				</div>
				<div class="row">
						<div class="col col-20"></div>
						<div class="col col-66">
							<div class="list">
					<label class="item item-input item-floating-label">
					  
					  <input type="text" placeholder="Username">
					</label>
					<label class="item item-input item-floating-label">
					  
					  <input type="text" placeholder="password">
					</label>
					<button class="button button-block button-positive">
							Log in
						  </button>
						  
						  <div class="row">
								<div class="col col-50 text-center">
										<button class="button button-block button-positive">
												Register
											  </button>
								</div>
								<div class="col col-50 text-center">
										<button class="button button-block button-positive">
												Guest	
											  </button>
											  
								</div>
							</div>
				  </div>
						</div>
			
	</ion-content>
</ion-view>