<ion-view>
	<ion-nav-bar class="bar-stable">
		<ion-nav-buttons side="left">
		  <a class="button button-icon ion-arrow-left-c" href="#/app/selecttype"></a>
		</ion-nav-buttons>
		<ion-nav-title>Find pets</ion-nav-title>
	</ion-nav-bar>
	<ion-content>
		<div class="row">
			<div class="col col-50 col-offset-25">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="Search">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col col-80 col-offset-10">
				<div class="list card">
					<div class="item">
						<center><h2>เต๋า</h2></center>
					</div>				
					<div class="item item-body">
						<img class="full-image" src="img/ro.jpg">
						<p>
							<label class="item item-input">อายุ 3 ปี</label>
							<label class="item item-input">เพศผู้</label>
							<label class="item item-input">สายพันธุ์ ก้านยาว</label>
						</p>
						<label class="item item-input"><div>#ขี้เล่น</div><div>#หงุดหงิดง่าย</div></label>
					</div>
				</div>				
			</div>
        </div>
        <div class="row">
			<div class="col col-80 col-offset-10">
				<div class="list card">
					<div class="item">
						<center><h2>ทิมมี่</h2></center>
					</div>				
					<div class="item item-body">
						<img class="full-image" src="img/shiro.jpg">
						<p>
							<label class="item item-input">อายุ 5 ปี</label>
							<label class="item item-input">เพศผู้</label>
							<label class="item item-input">สายพันธุ์ -</label>
						</p>
						<label class="item item-input"><div>#ขี้เล่น</div><div>#รักเด็ก</div></label>
					</div>
				</div>				
			</div>
		</div>
	</ion-content>
</ion-view>