<ion-view>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <a class="button button-icon ion-arrow-left-c" href="#/app/selecttype"></a>
    </ion-nav-buttons>

    <ion-nav-title>Find pets</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
	<div class="row">
		<div class="col col-50 col-offset-25">
		  <label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Search">
		  </label>
		</div>
	</div>
	<div class="row" ng-repeat="p in pet">
		<div class="col col-80 col-offset-10">
				<div class="list card">

						<div class="item">
							<center><h2>{{p.name}}</h2></center>
						</div>
					
						<div class="item item-body">
								<img class="full-image" src="{{p.imgurl[0]}}">
							<p>
									<label class="item item-input">อายุ {{p.age}}</label>
									<label class="item item-input">{{p.gender}}</label>
									<label class="item item-input">สายพันธุ์ {{p.breed}}</label>
							</p>
									<label class="item item-input"><div ng-repeat="tag in p.tag">#{{tag}}&nbsp;</div></label>
						</div>
					</div>
		</div>
	</div>
  </ion-content>
</ion-view>


<button class="button button-outline button-positive" ng-repeat="tag in p.tag">
		{{tag}}
	</button>