<ion-view>
  <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
                <a class="button button-icon ion-arrow-left-c" href="#/app/menu"></a>
            </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="button button-icon ion-person" href="#/app/login"></a>
    </ion-nav-buttons>

    <ion-nav-title>เลือกชนิดสัตว์เสี้ยง</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="row">
      <a class="col col-50 text-center" href="#/app/selectpets/dog">
        <img class="img-type" src="img/dog.svg">
        <h3>สุนัข</h3>
      </a>
      <a class="col col-50 text-center" href="#/app/selectpets/cat">
        <img class="img-type" src="img/cat.svg">
        <h3>แมว</h3>
      </a>
    </div>
    <div class="row">
      <a class="col col-50 text-center" href="#/app/selectpets/mouse">
        <img class="img-type" src="img/hamster.svg">
        <h3>หนู</h3>
      </a>
      <a class="col col-50 text-center" href="#/app/selectpets/bird">
        <img class="img-type" src="img/parrot.svg">
        <h3>นก</h3>
      </a>
    </div>
    <div class="row">
      <a class="col col-50 text-center" href="#/app/selectpets/rabbit">
        <img class="img-type" src="img/rabbit.svg">
        <h3>กระต่าย</h3>
      </a>
      <a class="col col-50 text-center" href="#/app/selectpets/other">
        <img class="img-type" src="img/search.svg">
        <h3>อื่นๆ</h3>
      </a>
    </div>
  </ion-content>
</ion-view>
